body {
	background: #17181a;
	font-family: 'Inter var';
	height: 100%;
	> div {
		height: 100%;
	}
	$text-color: #fff;
	--un-prose-headings: #{$text-color};
	--un-prose-links: #{$text-color};
	--un-prose-body: #{$text-color};
}

html {
	height: 100%;
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('/Inter-roman-latin.var.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('/static/Inter-italic-latin.var.woff2') format('woff2');
}
