body {
	background: #202124;
	height: 100%;
	> div {
		height: 100%;
	}
	$text-color: #fff;
	--un-prose-headings: #{$text-color};
	--un-prose-links: #{$text-color};
	--un-prose-body: #{$text-color};
}

html {
	height: 100%;
}
